header { background: #eaf4ff; }
h1 { letter-spacing: 0.5px; }
article { border-left: 4px solid #cde3ff; padding-left: 1rem; }

article > p {
    color: green;
}
article ~ p {
    color: blue;
}
section{
    display: flex;
    gap: 20px;
}
img{
    width: 300px;
}